.section-archive {
    .list-posts {
        .single-post {
            border: solid 1px $corGrayPrincipal;
            margin: 0px 0px 30px;
            border-radius: 10px;
            overflow: hidden;
            .content {
                .post-thumbnail {
                    width: 100%;
                }
                .text {
                    padding: 20px;
                    h2 {
                        color: $corPrincipal;
                        font-size: 1.4em;
                        text-transform: uppercase;
                    }
                    h3 {
                        color: #ababab;
                        font-size: 0.9em;
                        font-weight: 300;
                        margin: 5px 0px;
                    }
                    p {
                        color: #4a4a4a;
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $xsWidth) {
    .section-archive {
        .list-posts {
            .single-post {
                .content {
                    .text {
                        h2 {
                            font-size: 1em;
                        }
                        h3 {
                            font-size: 0.7em;
                        }
                        p {
                            font-size: 0.6em;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {
    .section-archive {
        .list-posts {
            .single-post {
                .content {
                    .text {
                        h2 {
                            font-size: 1.2em;
                        }
                        h3 {
                            font-size: 0.9em;
                        }
                        p {
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {

    .section-archive {
        .list-posts {
            .single-post {
                .content {
                    .text {
                        h2 {
                            font-size: 1.2em;
                        }
                        h3 {
                            font-size: 0.9em;
                        }
                        p {
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
    
}
@media screen and (min-width: $xlWidth) and (max-width: $xxlWidth) {

}
@media screen and (min-width: $xxlWidth) {
    
}