/* GLOBAL */
* { margin: 0px; word-wrap: break-word; }
body, html { margin: 0px; padding: 0px; font-family: 'Montserrat'; }
body { background-color: $corBranco; color: $corText; /* margin-top: 100px; */ }
a, a:hover, a:active, a:focus, a:visited { cursor: pointer; text-decoration: none; color: $corSecundaria; }

/* TÍTULOS E TEXTOS */
main { 
	padding: 40px 0px; 
	font-size: 18px; 
	min-height: 500px;
	h1, h2, h3, h4, h5, h6 {
		padding: 5px 0px;
		&.title {
			padding: 20px 0px;
		}
	}
}
h1, h2, h3, h4, h5, h6 { 
	font-family: 'Montserrat';
    font-weight: 700;
	margin: 0px;
	&.title {
		text-transform: uppercase;
		padding: 30px 0px;
		color: $corPrincipal;
	}
}

.pre-title {
    font-size: 1.2em;
    color: $corSecundaria;
    text-transform: uppercase;
    font-weight: 400;
}
h2 { font-size: 35px; color: $corPrincipal; }
h3 {
    color: $corPrincipal;
    font-size: 2em;
    font-weight: 700;
}
h4 {
    font-size: 1.9em;
    margin: 15px 0px;
    color: #285565;
}
.content-text { color: $corText; }
hr.line {
    width: 50px;
    border: solid 1px $corSecundaria;
    opacity: 1;
    &.text-center {
        display: block;
        margin: 15px auto;
    }
}
p {
    font-size: 1em;
    line-height: 2;
    font-weight: 400;
}
.ver-todos {
    float: right;
    display: flex;
    padding: 10px 0px;
    .icon-todos {
        padding: 0px 15px;
        width: 65px;
    }
}
.section-home {
    padding: 140px 0px !important;
    .heading-title {
        margin-bottom: 60px;
    }
}
/* ELEMENTOS */
ul { list-style-type: none; padding-inline-start: 0px; }
// img { max-width: 100%; }

/* FORMULÁRIOS */
.input-contato, .area-contato, input[type=text], input[type=search], input[type=email], input[type=tel], select, textarea {
    text-align: left;
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500 !important;
    background-color: $corBranco !important;
    color: $corPrincipal;
    background-color: transparent;
    border-radius: 5px !important;
    &::placeholder {
        color: #585858 !important;
    }
}
input[type=text], input[type=email], input[type=tel], select, textarea { -webkit-appearance: none; }
input:focus, textarea:focus, button:focus { outline: none !important; }
input[type=button], input[type=submit], input[type=reset], button, .button {
    display: block;
    background-color: $corPrincipal;
    color: $corBranco;
    border: none;
    margin: 10px 10px 0px 0px;
    padding: 10px 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    cursor: pointer;
    transition: ease 0.3s all;
    border-radius: 5px;
    font-weight: 900;
    &.button-out {
        background-color: transparent;
        color: $corPrincipal;
        border: solid 1px $corPrincipal;
        &:hover {
            background-color: $corPrincipal;
            color: $corBranco;
        }
    }
    &:hover {
        background-color: $corPrincipalEscura;
    }
    &.secundary {
        background-color: $corSecundaria;
        &.button-out {
            background-color: transparent;
            color: $corSecundaria;
            border: solid 1px $corSecundaria;
            &:hover {
                background-color: $corSecundaria;
                color: $corBranco;
            }
        }
        &:hover {
            background-color: $corSecundariaEscura;
        }
    }
}
.button-twitter {
    background-color: transparent;
    color: #1a9ff5;
    border: solid 2px #1a9ff5;
    border-radius: 25px;
}
/* CONTACT FORM */
span.wpcf7-not-valid-tip {
    display: block !important;
    background-color: #d01414 !important;
    color: #fff !important;
    font-size: 1em !important;
    font-weight: normal !important;
    text-transform: uppercase !important;
    padding: 6px 12px !important;
    margin: 0px 0px 12px 0px  !important;
}
div.wpcf7-response-output {
    background-color: #efefef !important;
    color: #cc2e2e !important;
    border: dashed 2px #cc2e2e !important;
    text-align: center !important;
    text-transform: uppercase !important;
    font-size: 19px !important;
    font-weight: 600 !important;
    margin: 0px !important;
    padding: 6px 3px !important;
}
.form-check-input {
    position: relative !important;
}
/* PAGINATION */
.pagination{
    display: block;
    width: 100%;
    text-align: center;
    margin: 30px auto;
    li{
        display: inline-block;
        margin: 0px 5px;
        a {
            background-color: $corPrincipal;
            border: 1px solid $corPrincipal;
            padding: 8px 15px;
            border-radius: 6px;
            font-size: 17px;
            text-align: center;
            color: $corBranco;
            transition: ease .3s all;
            &.current { color: $corSecundaria; }
            &:hover {
                background-color: #fff;
                color: #016b27;
            }
        }
    }
}

.section-ads {
    padding: 30px 0px;
    background-color: #d4d4d4;
    .adsbanner {
        height: 120px;
    }
}

/* WORDPRESS */
img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

#gallery-1 {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .gallery-item {
        min-width: 290px;
        display: block;
        flex: 0 0 33%;
        float: none !important;
        text-align: center;
        padding: 15px;
        img {
            border: none !important;
            border-radius: 10px;
            width: 100%;
            height: auto;
        }
    }
    .gallery-caption {
        margin-left: 0;
    }
}

.splide {
    .splide__pagination {
        bottom: 0px !important;
        position: relative;
        margin: 50px 0px 0px;
    }
    .splide__arrows {
        .splide__arrow--next {
            right: -2em;
        }
        .splide__arrow--prev {
            left: -2em;
        }
    }
    .splide__pagination__page {
        background-color: transparent;
        border: solid 1px $corPrincipal;
        width: 100px;
        border-radius: 10px;
        opacity: 1;
        height: 12px;
        &.is-active {
            transform: none;
            border: solid 1px $corSecundaria;
            background-color: $corSecundaria;
        }
    }
}
#searchinput {
    width: 200px;
}
#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}
@media screen and (max-width: $xsWidth) {
    h2 { font-size: 1.3em;  }
    h3 {
        font-size: 1.3em;
    }
    h4 {
        font-size: 1.1em;
    }
    p {
        font-size: 0.8em;
    }
    h1 { font-size: 30px; }
    // .ver-todos { float: left; }
    .section-home {
        padding: 40px 0px !important;
        .heading-title {
            margin-bottom: 0px;
        }
    }
}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {
    h2 { font-size: 1.4em;  }
    h3 {
        font-size: 1.4em;
    }
    h4 {
        font-size: 1.3em;
    }
    p {
        font-size: 0.8em;
    }
    h1 { font-size: 30px; }
    // .ver-todos { float: left; }
    .section-home {
        padding: 40px 0px !important;
        .heading-title {
            margin-bottom: 0px;
        }
    }
}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {
    h2 { font-size: 1.6em;  }
    h3 {
        font-size: 1.6em;
    }
    h4 {
        font-size: 1.5em;
    }
    p {
        font-size: 1em;
    }
    h1 { font-size: 1.8em; }
}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
    h2 { font-size: 1.7em;  }
    h3 {
        font-size: 1.7em;
    }
    h4 {
        font-size: 1.6em;
    }
    p {
        font-size: 1.2em;
    }
    h1 { font-size: 1.8em; }
}
@media screen and (min-width: $xlWidth) and (max-width: $xxlWidth) {

}
@media screen and (min-width: $xxlWidth) {
    
}