footer {
	padding: 50px 0px;
	background-color: $corPrincipal;
	color: $corBranco;
	.rodape-copyright {
		text-align: left;
	}
	.rodape-redes-sociais {
		display: flex;
		justify-content: flex-end;
		.text-redes {
			margin: 0px 15px;
		}
		.icons-redes {
			display: flex;
			.single-redes {
				padding: 0px 10px;
			}
		}
	}
}
.box-back-top {
	display: block;
    position: fixed;
    bottom: 25px;
    right: 25px;
	height: 50px;
	width: 50px;
	background-color: $corPrincipal;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	cursor: pointer;	
    box-shadow: 0px 0px 3px #323232;
    border: solid 1px $corPrincipalEscura;
}
@media screen and (max-width: $xsWidth) {

}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {

}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {
	
}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
	
}
@media screen and (min-width: $xlWidth) {
	
}