header {
	position: relative;
	height: 100px;
	z-index: 100;
	&.home-bar {
		position: absolute;
		width: 100%;
		.header-area {
			background-color: transparent;
			.header-main {
				.logo {
					img {
						display: none;
					}
				}
			}
			.header-buttons {
				.header-search {
					color: $corBranco;
					.button-search {
						img {
							filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(271deg) brightness(106%) contrast(106%);
							width: 22px;
						}
					}
				}
				.separator {
					img {
						filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(271deg) brightness(106%) contrast(106%);
					}
				}
				.nav-button {
					.hamburger {
						.hamburger-box {
							.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
								background-color: $corBranco;
							}
						}
					}
				}
			}
		}
	}
	.header-area {
		background-color: $corBranco;
		padding: 5px 0px;
		width: 100%;
		height: 100px;
		&.fixed {
			background-color: $corBranco;
			top: 0px;
			position: fixed;
			box-shadow: 0px 0px 2px #999;
			.header-main {
				.logo {
					img {
						display: block;
					}
				}
			}
			.header-buttons {
				.header-search {
					color: $corPrincipal;
					.button-search {
						img {
							filter: invert(29%) sepia(44%) saturate(500%) hue-rotate(150deg) brightness(91%) contrast(95%);
						}
					}
				}
				.separator {
					img {
						filter: invert(29%) sepia(44%) saturate(500%) hue-rotate(150deg) brightness(91%) contrast(95%);
					}
				}
				.nav-button {
					.hamburger {
						.hamburger-box {
							.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
								background-color: $corPrincipal;
							}
						}
					}
				}
			}
		}
		.header-background {
			background-size: 100% 100%;
			background-position: left bottom;
			width: 100%;
			height: 100%;
			top: 0px;
			left: 0px;
			position: absolute;
			z-index: -1;
			opacity: 0.7;
			transition: all 0.3s ease;
			&.down {
				opacity: 1;
			}
			&.front-header {
				opacity: 1;
			}
		}
		.header-main {
			z-index: 2;
		}
		.nav-button {
			.disable {
				display: none;
			}
			.hamburger {
				padding: 30px 10px;
			}
		}
		.separator {
			img {
				filter: invert(29%) sepia(44%) saturate(500%) hue-rotate(150deg) brightness(91%) contrast(95%);
			}
		}
		.header-search {
			.button-search {
				img {
					filter: invert(29%) sepia(44%) saturate(500%) hue-rotate(150deg) brightness(91%) contrast(95%);
					width: 22px;
				}
			}
		}
		.logo {
			img {
				height: 40px;
				margin: 5px 20px;
			}
		}
		.header-buttons {
			display: flex;
			.header-search {
				font-size: 2em;
				color: $corPrincipal;
			}
			.separator {
				padding: 27px 10px;
				img {
					height: 30px;
				}
			}
		}
		nav {
			ul.header-menu {
				display: flex;
				margin: 0px !important;
				li {
					padding: 30px 20px;
					font-weight: 500;
					font-size: 18px;
					font-weight: 700;
					a {
						color: $corPrincipal;
					}
				}
			}
		}
	}
}
section.content-title {
	background-image: url('../img/background-header.png');
	background-size: cover;
	background-position: center;
	background-color: $corPrincipal;
    padding: 85px 0px;
	color: white;
    h1 {
    	font-size: 40px;
    	color: $corBranco;
	    font-weight: 500;
    }
	.crumbs {
		text-transform: uppercase;
		margin: 10px 0px;
	}
}
@media screen and (max-width: $xsWidth) {
	header {
		.header-area {
			.header-background {
				opacity: 1;
			}
			.logo {
				img {
					height: 25px;
					margin: 17px 2px;
				}
			}
		}
	}
	section.content-title {
	    h1 {
	    	font-size: 23px;
	    	text-align: center;
	    }
		.crumbs {
			text-align: center;
		}
	}
}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {
	header { 
		.header-area {
			height: 100px;
			.header-background {
				opacity: 1;
			}
			nav {
				display: none;
			}
		}
	}
	section.content-title {
	    h1 {
	    	font-size: 32px;
	    	text-align: center;
	    }
		.crumbs {
			text-align: center;
		}
	}
}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {
	header { 
		height: 100px;
		.header-area {
			.nav-button {
				.hamburger {
					padding: 30px 2px;
				}
			}
			.logo {
				img {
					padding: 7px 10px;
				}
			}
			nav {
				ul.header-menu {
					li {
						padding: 30px 10px;
						font-size: 16px;
					}
				}
			}
		}
	}
	section.content-title {
	    h1 {
	    	font-size: 35px;
	    }
	}
}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
	header { 
		.header-area {
			nav {
				ul.header-menu {
					li {
						padding: 30px 15px;
						font-size: 19px;
					}
				}
			}
		}
	}
}
@media screen and (min-width: $xlWidth) {
	
}