.home-twitter {
    padding: 35px 0px;
    .content-twitter {
        height: 450px;
        overflow-y: scroll;
        display: flex;
        justify-content: center;
        border: solid 5px $corGrayPrincipal;
        border-radius: 5px;
    }
}