.home-calendario {
    background-color: $corGrayPrincipal;
    padding: 100px 0px;
    .lista-calendario {
        .single-calendario {
            margin: 15px 0px;
            background-color: white;
            .thumb-calendario {
                padding: 0px;
                img {
                    width: 100%;
                }
            }
            .content-text {
                padding: 25px;
                .buttons-calendario {
                    display: flex;
                    justify-content: flex-end;
                }
            } 
        }
    }
} 