.home-about {
    padding: 120px 0px;
    background-color: $corGrayPrincipal;
    .text-about {
        line-height: 2;
    }
    button {
        margin-top: 50px;
        margin-bottom: 0px;
    }
}
@media screen and (max-width: $xsWidth) {
    .home-about {
        padding: 30px 0px;
        .text-about {
            font-size: 0.8em;
        }
    }
}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {
    
}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {

}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
    
}
@media screen and (min-width: $xlWidth) and (max-width: $xxlWidth) {

}
@media screen and (min-width: $xxlWidth) {
    
}