.home-contato {
    background-color: $corGrayPrincipal;
    padding: 100px 0px;
    hr.line {
        margin: 15px auto;
    }
    .pre-title {
        font-size: 1.4em;
        font-weight: 500;
    }
    .title-contato {
        font-size: 2.5em;
        font-weight: 900;
    }
    .description-contato {
        font-weight: 500;
    }
}