.home-livros {
    padding: 100px 0px;
    background-color: $corGrayPrincipal;
    h3.title-livros, hr {
        text-align: center;
        margin: 15px auto;
    }
    .splide__pagination {
        position: relative;
        width: auto;
        bottom: 190px !important;
        float: left;
        left: 0px;
        transform: translateX(0%) !important;
        margin: 0px;
        .splide__pagination__page {
            height: 15px;
            width: 15px;
            transition: all 0.3s ease;
            margin: 0px 15px 0px 0px;
            &.is-active {
                width: 45px;
            }
        }
    }
    .ver-todos {
        padding: 7px 20px;
        display: inline-block;
        position: absolute;
        bottom: 115px;
        float: left;
    }
    button {
        margin-top: 50px;
    }
}

@media screen and (max-width: $xsWidth) {
    .home-livros {
        button {
            display: block;
            margin-top: 10px;
        }
        .splide__pagination {
            position: relative;
            top: 10px !important;
        }
        .ver-todos {
            position: relative;
            top: -2px;
        }
    }
}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {
    .home-livros {
        button {
            margin-top: 0px;
        }
        .splide__pagination {
            position: relative;
            top: 2px !important;
        }
        .ver-todos {
            position: relative;
            top: -10px;
        }
    }
}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {
    .home-livros {
        .splide__pagination {
            top: 35px !important;
        }
        .ver-todos {
            top: 545px;
        }
    }
}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
    .home-livros {
        .splide__pagination {
            top: 30px !important;
        }
        .ver-todos {
            top: 470px;
        }
    }
}
@media screen and (min-width: $xlWidth) and (max-width: $xxlWidth) {
    .home-livros {
        .splide__pagination {
            top: 35px !important;
        }
        .ver-todos {
            top: 445px;
        }
    }
}
@media screen and (min-width: $xxlWidth) {
    .home-livros {
        .splide__pagination {
            top: 35px !important;
        }
        .ver-todos {
            top: 442px;
        }
    }
}