.home-livros {
    padding: 100px 0px;
    background-color: $corGrayPrincipal;
    h3.title-livros, hr {
        text-align: center;
        margin: 15px auto;
    }
    .splide__pagination {
        position: relative;
        width: auto;
        bottom: 70px !important;
        left: 0px;
        transform: translateX(0%) !important;
    }
    button {
        margin-top: 50px;
    }
}