.home-about {
    padding: 120px 0px;
    background-color: $corGrayPrincipal;
    .text-about {
        line-height: 2;
    }
    button {
        margin-top: 50px;
        margin-bottom: 0px;
    }
}