.home-about {
    padding: 120px 0px;
    background-color: $corGrayPrincipal;
    .pre-title {
        font-size: 2em;
    }
    h3.about-title {
        font-size: 3.25em;
        font-weight: 900;
    }
    .text-about {
        font-size: 1em;
        line-height: 2;
        font-weight: 400;
    }
    button {
        margin-top: 50px;
        margin-bottom: 0px;
    }
}