.home-artigos {
    padding: 120px 0px;
    .title-artigos {

    }
    .lista-artigos {
        margin: 0px -15px;
        .single-artigo {
            padding: 30px;
            border: solid 1px $corGrayPrincipal;
            border-radius: 5px;
            margin: 15px;
            .artigo-data {
                color: $corSecundaria;
                font-weight: 400;
            }
            .artigo-categoria {
                color: $corSecundaria;
                font-weight: 400;
                img {
                    width: 22px;
                    margin: 5px;
                    vertical-align: bottom;
                }
            }
            .artigo-titulo {
                font-size: 1.5em;
                color: $corPrincipal;
                line-height: 1.3;
            }
        }
    }
}
@media screen and (max-width: $xsWidth) {
    .home-artigos {
        .lista-artigos {
            margin: 0px 0px;
            .single-artigo {
                margin: 10px 0px;
                .artigo-data {
                    font-size: 0.8em;
                }
                .artigo-titulo {
                    font-size: 0.9em;
                }
            }
        }
    }

}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {
    .home-artigos {
        .lista-artigos {
            .single-artigo {
                padding: 15px;
                .artigo-data {
                    font-size: 0.8em;
                }
                .artigo-titulo {
                    font-size: 0.9em;
                }
            }
        }
    }
}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {

    .home-artigos {
        .lista-artigos {
            .single-artigo {
                padding: 15px;
                .artigo-data {
                    font-size: 0.8em;
                }
                .artigo-titulo {
                    font-size: 0.9em;
                }
            }
        }
    }
}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
    
    .home-artigos {
        .lista-artigos {
            .single-artigo {
                padding: 15px;
                .artigo-data {
                    font-size: 1.1em;
                }
                .artigo-titulo {
                    font-size: 1em;
                }
            }
        }
    }
}
@media screen and (min-width: $xlWidth) and (max-width: $xxlWidth) {

    
    .home-artigos {
        .lista-artigos {
            .single-artigo {
                padding: 15px;
                .artigo-data {
                    font-size: 1.3em;
                }
                .artigo-titulo {
                    font-size: 1.2em;
                }
            }
        }
    }
}
@media screen and (min-width: $xxlWidth) {
    
}