.home-palestras {
    .palestras {
        margin: 0px -10px;
        .single-palestra {
            margin: 10px;
            border: solid 1px #e5e5e5;
            padding: 15px;
            h4 {
                font-size: 1.5em;
                color: $corPrincipal;
                line-height: 1.3;
            }
        }
    }
}
@media screen and (max-width: $xsWidth) {
    .home-palestras {
        .palestras {
            margin: 0px 0px;
        }
    }
}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {
    
}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {

}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
    
}
@media screen and (min-width: $xlWidth) and (max-width: $xxlWidth) {

}
@media screen and (min-width: $xxlWidth) {
    
}