.home-artigos {
    padding: 120px 0px;
    .title-artigos {

    }
    .lista-artigos {
        margin: 0px -15px;
        .single-artigo {
            padding: 30px;
            border: solid 1px $corGrayPrincipal;
            border-radius: 5px;
            margin: 15px;
            .artigo-data {
                color: $corSecundaria;
                font-weight: 400;
            }
            .artigo-categoria {
                color: $corSecundaria;
                font-weight: 400;
                img {
                    width: 22px;
                    margin: 5px;
                    vertical-align: bottom;
                }
            }
            .artigo-titulo {
                font-size: 1.5em;
                color: $corPrincipal;
                line-height: 1.3;
            }
        }
    }
}