.section-area {
    padding: 50px 0px;
    .accordion {
        .accordion-header {
            .accordion-button {
                padding: 0px;
                .area-icon {
                    background: $corPrincipal;
                    padding: 6px;
                    width: 68px;
                    height: 68px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .img-icon {
                        width: 30px;
                    }
                }
                span {
                    padding: 15px;
                }
                &::after {
                    margin: 15px 15px 15px auto;
                }
            }
        }
    }
}