/* Cores do Tema */
// $corPrincipal: #ee2924;
$corPrincipal: #285565;
$corPrincipalEscura: #1b4250;
$corPrincipalEscuraDark: #102f3a;
$corSecundaria: #d58720;
$corSecundariaEscura: #b16e15;
$corBranco: #ffffff;
$corText: #666666;
$corGrayPrincipal: #ededed;

/* Tamanho das Telas */
$xsWidth: 576px;
$smWidth: 576px;
$mdWidth: 768px;
$lgWidth: 992px;
$xlWidth: 1200px;

/*Tamanho dos Textos */
$xsTextMenu: 20px;

@import 'classes';

@import 'pre-header';
@import 'header';
@import 'header-bar';
@import 'header-search';
@import 'menu';
@import 'icons';
@import 'fonts';
@import 'vertical-timeline';

@import 'index';
@import 'index-banner';
@import 'index-news';
@import 'index-tips';
@import 'index-about';
@import 'index-palestras';
@import 'index-livros';
@import 'index-calendario';
@import 'index-linkedin';
@import 'index-artigos';
@import 'index-twitter';
@import 'index-contato';

@import 'archive';
@import 'aside';
@import 'single';

@import 'page-about-reconhecimento';

@import 'cookie';

@import 'footer';